<div id="page_wrapper">
  <div id="profile_image">
    
  </div>
  <div id="content">
    <h1>About this blog</h1>
    <p>This blog was created as part of a project for the Code Immersion course with Tech Talent South.</p>
    <p>Special thanks to Mackenzie Child and his 12 Web Apps in 12 Weeks series, without which I would still be scaffolding everything.</p>
    <p>Additional thanks to Jon and Joe of TTS for their instruction in Rails, HTML and Javascript.</p>
    <p>Coding done by Kyle Pennington, follow my progress as a developer on <a href="https://www.linkedin.com/in/kyle-pennington-columbus/">Linkedin</a> and <a href="https://github.com/kudubaba">Github</a>!</p>
  </div>
</div>
